<dash-card class="dash-card" >
	<title  {{action "toggleCardState"}}>{{title}} 
		{{#if canCollapse}} 	
	 		<card-toggle>
	  			{{#if isExpanded}}
	  				Collapse
	  			{{else}}
	  				Expand
	 			{{/if}}
	  		</card-toggle>	
		{{/if}}
	</title>
	
	{{#if isExpanded }}
	
	<content>
			
	 			{{yield}}	
	 		
	 	</content>
	{{/if}}
</dash-card>  
