<dash-toolbar class="dash-toolbar">
	  <title class="toolbar-title">
	    {{title}}
	  </title>
	  <toolbar-controls class="toolbar-controls">
	  {{yield}}
	  </toolbar-controls><!--/.controls-->
</dash-toolbar>
