{{#dash-toolbar title="Platform Popularity"}}

{{/dash-toolbar }}


{{scatter-chart  class="scatter-chart-full" data=model.platformRevenueScatter options=options}}
<div class="subtitle">
<p>Popularity calculated using Total Sales per Platform, which roughly indicates how engaged owners were with their consoles and how much they invested in their games collection.</p>
<p>Values shown as Millions (US Dollars)</p>
</div>


