{{#dash-toolbar title="Revenue"}}

{{/dash-toolbar }}

{{geo-chart data=model.revenueByRegion options=options}}

<div class="subtitle">
<p>Total Sales per Region, including all genres and platforms.</p>
<p>Values shown as Millions (US Dollars)</p>
</div>